.info-list {
  padding: 15px 0;
  margin: 0;
}

.info-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-list__data {
  opacity: 0.5;
}

.info-list__title {
  margin: 8px;
}
