.main {
  width: 100%;
  min-height: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
}

.main__card {
  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

.main__promo {
  @media (min-width: $tablet-width) {
    overflow-y: scroll;
  }
}

