@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/Rubik-Regular.woff") format("woff"),
    url("./../fonts/Rubik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("./../fonts/Rubik-ExtraBold.woff") format("woff"),
    url("./../fonts/Rubik-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("./../fonts/Rubik-SemiBold.woff") format("woff"),
    url("./../fonts/Rubik-SemiBold.woff2") format("woff2");
}

body,
html,
main,
.card {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #191923;
  color: #ffffff;
  margin: 0;
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
